<html>
  <head>
    <title>New</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/index">Personal Finance</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index">Home</a></li>
              <li><a href="archives">Archives</a></li>
              <li><a href="new">New Blog Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/sign"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="" data-toggle="modal" data-target="#modalLoginForm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>


        <form method="POST" action="/new" class="form1">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" placeholder="Title"
            id="title" name="title">
          </div>
        <div class="form-group">
          <label for="Author">Author</label>
          <input type="text" class="form-control"
          placeholder="Author"  name="Author">
        </div>

        <div class="form-group">
          <label for="datetime">Date</label>
          <input type="date" class="form-control"
          placeholder="date"  name="date">

        </div>
          <div class="form-group">
        <label for="datetime">Time</label>
        <input type="time" class="form-control"
        placeholder="time" name="time">
      </div>
          <div class="form-group">
        <label for="image">Image url</label>
        <input type="text" class="form-control"
        placeholder="image"  name="image">
      </div>


            <div class="form-group">
              <label for="summary">Summary</label>
              <input type="text" class="form-control"
              placeholder="summary">
            <textarea id="summernote"  type="text" name="summary"></textarea>
            </div>


            <label for="content">Content</label>
          <textarea id="summernote2" name="content"></textarea>

        <button type="submit" class="btn btn-primary">Post</button>
        </form>


                <div class="panel panel-default">
                    <div class="panel-footer">Created by Aqhamile Cimani |2018</div>
              </div>
        </div>
        </div>

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                            <label for="defaultForm-email">Your email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                            <label for="defaultForm-pass">Your password</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-success">Login</button>
                    </div>
                </div>
            </div>
        </div>
          <!--script tags for the summernote   -->

        <script type="text/javascript">
        $(document).ready(function() {
          $('#summernote').summernote();
        });

        </script>
        <script type="text/javascript">
        $(document).ready(function() {
          $('#summernote2').summernote();
        });

        </script>
  </body>
</html>
