body {
  padding: 50px;
  margin-top: 50px !important;
  background-color: grey;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* home page styling */
.jumbotron{
  text-align: center;
}

.panel-heading{
box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 1.0);
}

.panel-primary>.panel-heading {
    color: #fff;
}

.pnael-primary{
  border-color: none;
}

#post{
  top: 700px;
  left: 100px;
}
/*login page styling  */
.form-inline{
  margin-left: 250px;
  margin-top: 60px;
}
/* sign up page styling */
.form{
  text-align: left;
}
